<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>schoolmanagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AttendenceServlet</display-name>
    <servlet-name>AttendenceServlet</servlet-name>
    <servlet-class>AttendenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendenceServlet</servlet-name>
    <url-pattern>/AttendenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarksServlet</display-name>
    <servlet-name>MarksServlet</servlet-name>
    <servlet-class>MarksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarksServlet</servlet-name>
    <url-pattern>/MarksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendenceUpdateServlet</display-name>
    <servlet-name>AttendenceUpdateServlet</servlet-name>
    <servlet-class>AttendenceUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendenceUpdateServlet</servlet-name>
    <url-pattern>/AttendenceUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendenceUpServlet</display-name>
    <servlet-name>AttendenceUpServlet</servlet-name>
    <servlet-class>AttendenceUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendenceUpServlet</servlet-name>
    <url-pattern>/AttendenceUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendenceServletUpdate</display-name>
    <servlet-name>AttendenceServletUpdate</servlet-name>
    <servlet-class>AttendenceUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendenceServletUpdate</servlet-name>
    <url-pattern>/AttendenceServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarksUpdateServlet</display-name>
    <servlet-name>MarksUpdateServlet</servlet-name>
    <servlet-class>MarksUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarksUpdateServlet</servlet-name>
    <url-pattern>/MarksUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddstudentServlet</display-name>
    <servlet-name>AddstudentServlet</servlet-name>
    <servlet-class>AddstudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddstudentServlet</servlet-name>
    <url-pattern>/AddstudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddteacherServlet</display-name>
    <servlet-name>AddteacherServlet</servlet-name>
    <servlet-class>AddteacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddteacherServlet</servlet-name>
    <url-pattern>/AddteacherServlet</url-pattern>
  </servlet-mapping>
</web-app>